fastapi[standard]
uvicorn[standard]

sqlalchemy

python-dotenv

python-multipart

python-jose[cryptography]
passlib[bcrypt]

httpx

email-validator

pytest
pytest-asyncio

sqlmodel

pyjwt
pwdlib[argon2]
